#user_chat_title, #new_user_chat_title {
  color: rgb(240, 137, 40);
  display: block;
  margin: 30px auto;
  border-bottom: 1px solid darkgray;
  width: 170px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

#user_chat_title_image {
  display: block;
  margin: 30px auto 15px; 
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.admin_border {
  border: 3px solid rgb(240, 137, 40);
}

#user_chat_name {
  display: inline-block;
  height: 25px;
  padding-top: 3px;
}

#create_button_container{
  margin: 30px auto 15px; 
  width: 250px;
  text-align: center;
}

.new_user_chat_name {
  margin: 0 auto;
  width: 250px;
  text-align: center;
}

.message_wrapper {
  display:block;
  width: 700px;
  height: 500px;
  margin: 30px auto;
  border: 1px solid;
  padding: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
  .messages {
    overflow: scroll;
    height: 420px;
    .message{
      padding: 5px 0;
      .message_user_wrapper {
        padding: 5px 0;
      }
      .main_message {
        display: flex;
        .message_content{
          margin-left: 28px;
         .message_image{
            display:block;
            margin-bottom: 10px;
          }
         .user_message_container{
           display:flex;
           #message_letter{
             border-radius: 10px;
             padding: 5px;
             background-color:rgb(240, 137, 40);
             display:inline-block;
           }
           .message_date{
            padding: 10px 3px;
            font-size: 10px;
          }
         }
        
        }
      }
    }
  }
  .chat_form_wrapper {
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 10px;
    border: solid 1px purple;
    display: flex;
  }
}

.form_message {
  border: 1px solid;
  width: 550px;
  text-align: left;
  padding: 5px 8px;
  &:focus {
    background-color: #eee;
  }
}

.form_button {
  margin-left: 10px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  transition: color 1s;
  box-shadow: 2px 2px 3px;
  &:hover{
    background-color: black;
    color: white;
  }
  &#form_end{
    margin-left: 40px;
  }
}

.form_image {
  margin-left: auto 5px;
  padding: 2px;
  &:hover{
    opacity: 0.6;
  }
}

.chat_member_image{
  border-radius: 50% 50%;
  width: 25px;
  height: 25px;
}