<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user_last_name %>&nbsp;&nbsp;様</h1>
       <p>
        いつもお世話になっております。<br>
        エントリしていただいた勤務スケジュールが確定しましたので、<br>
        下記のURLよりご確認をお願いいたします。
       </p>
       <p>
        サイトに接続する場合は<%= @url %>をクリックしてください。
       </p>
       <p>今後とも、何卒よろしくお願いいたします。</p>
  </body>
</html>